:root {
    --font-main: "Anton", sans-serif;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    text-transform: uppercase;
}

#red {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/red_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .title-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        overflow: hidden;
        z-index: 1;
        text-align: center ;
        h1 {
            color: #FF6C6C;
            font-size: 18vw;
            line-height: 1;
            white-space: nowrap;
        }
    }

    .container-red {
        position: absolute;
        top: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: center;
        width: 80%;
        border-radius: 30px;
        border: 10px solid #FF6C6C;
        background-image: url("../images/red_img.png");
        background-position: center;
        height: 65vh;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 2;
    }

    .scroll-wrapper {
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 4;
        top: 87%;
        #scroll-text {
            padding-top: 4vh;
            color: #FF6C6C;
            font-size: 80px;
            line-height: 1;
            white-space: nowrap;
            display: inline-block;
        }
    }

}

@media (max-width: 768px) {

    #red {
        height: 95vh;
        .title-wrapper {
            height: 35vh;
            top: 3%;
            h1 {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                font-size: 23vw;
                white-space: nowrap;
            }
        }

        .container-red {
            top: 10%;
            width: 90%;
            height: 70vh;
            border-width: 6px;
        }

        .scroll-wrapper {
            #scroll-text {
                font-size: 10vw;
                top: 88%;
            }
        }

    }
}


